<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
  <div v-if="awesome">Vue is awesome!</div>
  <div v-else-if="type === 'C'">v else if</div>
  <div v-else>Oh, No!!!</div>

  <!-- <template v-if="loginType == 'username'"> -->
  <!--   <label for="">Username</label> -->
  <!--   <input placeholder="Enter your username" key="username-input"> -->
  <!-- </template> -->
  <!-- <template v-else> -->
  <!--   <label for="">Email</label> -->
  <!--   <input placeholder="Enter your email address" key="email-input"> -->
  <!-- </template> -->

  <div v-show="ok">V Show Ok</div>
</div>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      awesome: false,
      type: 'C',
      ok: true
    }
  })
</script>
